.about-trip {
  padding: 120px 0;

  @include vp-1023 {
    padding: 91px 0 92px;
  }

  @include vp-767 {
    padding: 59px 0 65px;
  }
}

.about-trip__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @include vp-1023 {
    align-items: center;
  }

  @include vp-767 {
    flex-direction: column;
    justify-content: start;
  }
}

.about-trip__wrapper {
  align-self: center;
  padding-right: 88px;

  @include vp-1023 {
    padding-right: 30px;
  }

  @include vp-767 {
    max-width: 560px;
    margin-bottom: 33px;
    padding: 0;
  }
}

.about-trip__title {
  margin: 0 auto 25px 0;

  @include vp-1023 {
    margin: 0 auto 16px 0;
    padding-right: 40px;

    line-height: 36px;
  }

  @include vp-767 {
    padding-right: 20px;

    line-height: 33px;
  }
}

.about-trip__description {
  margin: 0;
}

.about-trip__image {
  display: flex;
  justify-content: center;
  min-width: 48.28%;

  @include vp-1023 {
    min-width: 47.79%;
  }

  @include vp-767 {
    min-width: 100%;
  }
}

.about-trip__image img {
  object-fit: cover;

  @include vp-767 {
    margin: 0 auto;
  }
}
