.advantages {
  position: relative;

  padding: 110px 0 90px;

  @include vp-1023 {
    padding: 90px 0 70px;
  }

  @include vp-767 {
    padding: 57px 0 34px;
  }
}

.advantages__bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 100%;

  background-color: $color-pattens-blue;
}

.advantages__bg img {
  width: 100%;
  max-width: 1920px;
  height: 100%;
  margin: 0 auto;

  object-fit: cover;
}


.advantages h2 {
  margin-bottom: 49px;

  @include vp-767 {
    margin-bottom: 30px;
  }
}

.advantages ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;

  list-style: none;

  gap: 3.5%;

  @include vp-1023 {
    gap: 4.4%;
  }

  @include vp-767 {
    gap: 3%;
  }
}

.advantages li {
  position: relative;

  width: 31%;
  min-height: 241px;
  margin-bottom: 30px;
  padding: 81px 30px 28px;

  background-color: $color-alice-blue;

  @include vp-1023 {
    width: 30.39%;
    min-height: 310px;
    padding: 72px 18px 20px 20px;
  }

  @include vp-767 {
    width: 290px;
    min-height: 250px;
    padding: 71px 20px 20px;
  }
}

.advantages h3 {
  margin: 0 0 10px;

  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  @include vp-1023 {
    line-height: 25px;
  }

  @include vp-767 {
    margin: 0 0 8px;
    padding-right: 49px;
  }
}

.advantages ul p {
  margin: 0;

  font-size: 14px;
  line-height: 19px;

  @include vp-1023 {
    line-height: 20px;
  }
}

.advantages__icon {
  position: absolute;
  top: 30px;
  left: 30px;

  @include vp-1023 {
    top: 26px;
    left: 20px;
  }

  @include vp-767 {
    top: 25px;
  }

  &--ship {
    width: 27px;
    height: 32px;

    @include vp-1023 {
      width: 21px;
      height: 26px;
    }
  }

  &--check {
    top: 35px;

    width: 38px;
    height: 21px;

    @include vp-1023 {
      top: 30px;

      width: 33px;
      height: 19px;
    }

    @include vp-767 {
      top: 28px;
    }
  }

  &--boat {
    top: 38px;

    width: 42px;
    height: 15px;

    @include vp-1023 {
      top: 33px;

      width: 38px;
      height: 13px;
    }

    @include vp-767 {
      top: 31px;
    }
  }
}
