.booking {
  position: relative;

  padding: 50px 0;
  overflow: hidden;

  @include vp-1023 {
    min-height: auto;
    padding: 88px 0 100px;
  }

  @include vp-767 {
    padding: 65px 0;
  }
}

.booking__bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 100%;

  background-color: $color-pattens-blue;
}

.booking__bg img {
  width: 100%;
  max-width: 1920px;
  min-height: 100%;
  margin: 0 auto;

  object-fit: cover;
}

.booking__container {
  display: grid;

  grid-template-columns: 1fr 1fr;

  @include vp-1023 {
    display: block;
  }
}

.booking__wrapper {
  margin: auto auto auto 60px;

  @include vp-1023 {
    width: 419px;
    margin: 0 auto 52px;
  }

  @include vp-767 {
    width: 100%;
    margin: 0 auto 40px;
  }
}

.booking__title {
  margin: 0 0 9px;

  font-weight: 700;
  font-size: 40px;
  line-height: 60px;

  @include vp-1023 {
    margin: 0 auto 5px;

    font-size: 34px;
    line-height: 51px;
    text-align: center;
  }

  @include vp-767 {
    font-size: 24px;
    line-height: 31px;
  }
}

.booking__description {
  margin: 0;
  padding-right: 25%;

  font-size: 18px;
  line-height: 27px;

  @include vp-1023 {
    padding: 0 30px;

    text-align: center;
  }

  @include vp-767 {
    padding: 0;

    font-size: 16px;
    line-height: 22px;
  }
}

.booking__form {
  width: 403px;
  min-height: 455px;
  margin: 0 10.4% 0 auto;

  @include vp-1023 {
    margin: 0 auto;
  }

  @include vp-767 {
    width: 100%;
    max-width: 403px;
    min-height: 460px;
  }
}
