.booking-form {
  padding: 50px;
  background-color: $color-tangaroa;

  @include vp-767 {
    padding: 40px 30px;
  }
}

.booking-form__description {
  margin: 0 0 35px;
  color: $color-alice-blue;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  @include vp-767 {
    text-align: center;
    line-height: 25px;
  }
}

.booking-form__form {
  min-height: 273px;
  display: grid;
  grid-template-rows: 1fr min-content;
}

.booking-form__field {
  margin: 0;
  padding: 0;
  border: none;

  &--agreement {
    display: flex;
  }
}

.booking-form__label {
  margin-bottom: 20px;
  display: flex;

  &--error {
    box-shadow: 0 0 10px 4px $color-torch-red;
  }
}

.booking-form__agreement-label {
  display: inline-flex;
  min-height: 18px;
  align-items: center;
  margin: 0 0 30px;
  padding-left: 23px;
  position: relative;
  color: $color-alice-blue;
  font-size: 10px;
  line-height: 13px;
  cursor: pointer;

  @include vp-767 {
    padding-left: 28px;
    line-height: 12px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    background-color: $color-alice-blue;

    @include vp-767 {
      width: 20px;
      height: 20px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 4px;
    width: 10px;
    height: 6px;
    background-image: url("../img/svg/check-form.svg");
    background-repeat: no-repeat;
    background-size: 10px 6px;
    display: none;

    @include vp-767 {
      top: 7px;
      left: 5px;
    }
  }
}

.booking-form__agreement-label p {
  margin: 0;
}

.booking-form__checkbox:checked + .booking-form__label::after {
  display: block;
}

.booking-form__button {
  margin: 0;
  width: 100%;
  min-height: 43px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
