.booking-form {
  padding: 45px 50px 50px;

  background-color: $color-tangaroa;

  @include vp-767 {
    padding: 35px 30px;
  }
}

.booking-form p {
  margin: 0 0 26px;
  padding: 0;

  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: $color-alice-blue;

  @include vp-767 {
    margin: 0 0 28px;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
  }
}

.booking-form form {
  display: grid;
  min-height: 273px;

  grid-template-rows: 1fr min-content;
}

.booking-form fieldset {
  margin: 0;
  padding: 0;

  border: none;

  &:last-of-type {
    margin: 0 0 30px;

    @include vp-767 {
      margin: 0 0 26px;
    }
  }
}

.booking-form label {
  display: flex;
  margin-bottom: 20px;
}

.booking-form input[type="checkbox"] + label {
  position: relative;

  display: inline-flex;
  align-items: center;
  min-height: 18px;
  margin: 0;
  padding-left: 23px;

  font-size: 10px;
  line-height: 13px;
  color: $color-alice-blue;

  cursor: pointer;

  @include vp-767 {
    padding-left: 28px;

    line-height: 12px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 18px;
    height: 18px;

    background-color: $color-alice-blue;

    @include vp-767 {
      width: 20px;
      height: 20px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 4px;

    display: none;
    width: 10px;
    height: 6px;

    background-image: url("../img/svg/check-form.svg");
    background-repeat: no-repeat;
    background-size: 10px 6px;

    @include vp-767 {
      top: 7px;
      left: 5px;
    }
  }
}

.booking-form__checkbox-wrapper {
  display: flex;
}

.booking-form input[type="checkbox"]:checked + label::after {
  display: block;
}

.booking-form button {
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 43px;
  margin: 0;

  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}
