.booking {
  position: relative;
  padding: 50px 0;
  min-height: 555px;

  @include vp-1023 {
    padding: 100px 0;
    min-height: auto;
  }

  @include vp-767 {
    padding: 65px 0;
  }
}

.booking__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  z-index: -1;
  background-color: $color-pattens-blue;
}

.booking__bg img {
  object-fit: cover;
  min-height: 100%;
}

.booking__container {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include vp-1023 {
    display: block;
  }
}

.booking__wrapper {
  margin: auto auto auto 60px;

  @include vp-1023 {
    width: 419px;
    margin: 0 auto 60px;
  }

  @include vp-767 {
    margin: 0 auto 40px;
    width: 100%;
  }
}

.booking__title {
  margin: 0 0 30px;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;

  @include vp-1023 {
    margin: 0 auto 25px;
    font-size: 34px;
    line-height: 51px;
    text-align: center;
  }

  @include vp-767 {
    font-size: 24px;
    line-height: 31px;
  }
}

.booking__description {
  margin: 0;
  font-size: 18px;
  line-height: 27px;

  @include vp-1023 {
    padding: 0 30px;
    text-align: center;
  }

  @include vp-767 {
    padding: 0;
    font-size: 16px;
    line-height: 22px;
  }
}

.booking__form {
  margin: 0 auto;
  width: 403px;
  min-height: 455px;

  @include vp-767 {
    width: 100%;
    min-height: 460px;
  }
}
