.booking-form {
  padding: 45px 50px 50px;

  background-color: $color-tangaroa;

  @include vp-767 {
    padding: 40px 30px;
  }
}

.booking-form__description {
  margin: 0 0 26px;

  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: $color-alice-blue;

  @include vp-767 {
    line-height: 25px;
    text-align: center;
  }
}

.booking-form__form {
  display: grid;
  min-height: 273px;

  grid-template-rows: 1fr min-content;
}

.booking-form__field {
  margin: 0;
  padding: 0;

  border: none;

  &--agreement {
    display: flex;
  }
}

.booking-form__label {
  display: flex;
  margin-bottom: 20px;
}

.booking-form__agreement-label {
  position: relative;

  display: inline-flex;
  align-items: center;
  min-height: 18px;
  margin: 0 0 30px;
  padding-left: 23px;

  font-size: 10px;
  line-height: 13px;
  color: $color-alice-blue;

  cursor: pointer;

  @include vp-767 {
    padding-left: 28px;

    line-height: 12px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 18px;
    height: 18px;

    background-color: $color-alice-blue;

    @include vp-767 {
      width: 20px;
      height: 20px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 4px;

    display: none;
    width: 10px;
    height: 6px;

    background-image: url("../img/svg/check-form.svg");
    background-repeat: no-repeat;
    background-size: 10px 6px;

    @include vp-767 {
      top: 7px;
      left: 5px;
    }
  }
}

.booking-form__agreement-label p {
  margin: 0;
}

.booking-form__checkbox:checked + .booking-form__label::after {
  display: block;
}

.booking-form__button {
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 43px;
  margin: 0;

  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}
