.catalog {
  padding: 110px 0 90px;

  @include vp-1023 {
    padding: 89px 0 70px;
  }

  @include vp-767 {
    padding: 57px 0 35px;
  }
}

.catalog h2 {
  margin-bottom: 49px;

  @include vp-767 {
    margin-bottom: 30px;
  }
}

.catalog ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 15px;

  list-style: none;
  column-gap: 2.6%;

  @include vp-1023 {
    column-gap: 4.6%;
  }

  @include vp-767 {
    padding: 0 10px;
  }
}

.catalog li {
  width: 23%;
  height: 386px;
  margin-bottom: 30px;

  @include vp-1023 {
    width: 47.69%;
  }

  @include vp-767 {
    width: auto;
    min-width: 270px;
    margin: 0 auto 30px;
  }
}
