.header {
  padding: 25px 0;
  width: 100%;
  background-color: $color-tangaroa;
  min-height: 108px;
  color: $color-alice-blue;
  display: flex;
  align-items: center;
  transition: all $trans-default;

  @include vp-1023 {
    min-height: 80px;
  }

  @include vp-767 {
    min-height: 62px;
    padding: 20px 0;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  min-height: 100%;
}

.header__top-wrapper {
  margin-right: auto;
  display: flex;
  min-height: 100%;
  align-items: center;

  @include vp-1023 {
    margin-right: 70px;
  }

  @include vp-767 {
    width: 100%;
    justify-content: space-between;
    margin: 0;
  }
}

.header__logo {
  width: 70px;
  height: 38px;

  @include vp-1023 {
    width: 38px;
    height: 20px;
  }

  @include vp-767 {
    width: 42px;
    height: 22px;
  }
}

.header__toggle {
  margin: 0;
  padding: 0;
  width: 24px;
  height: 21px;
  display: none;
  background-color: $color-transparent;

  @include vp-767 {
    position: absolute;
    top: 20px;
    right: 15px;
    z-index: 99;
    display: block;

    &::before {
      content: "";
      position: absolute;
      top: 5px;
      left: 50%;

      display: block;
      width: 24px;
      height: 1px;

      background-color: $color-alice-blue;
      box-shadow: 0 5px 0 0 $color-alice-blue;
      transform: translateX(-50%);

      transition: all $trans-default;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 5px;
      left: 50%;

      display: block;
      width: 24px;
      height: 1px;

      background-color: $color-alice-blue;
      transform: translateX(-50%);

      transition: all $trans-default;
    }

    &--closed {
      background-color: $color-transparent;
      width: 20px;
      height: 20px;

      &::before {
        top: 9px;
        left: 50%;

        width: 20px;

        background-color: $color-tangaroa;
        box-shadow: none;
        transform: translateX(-50%) rotate(-45deg);
      }

      &::after {
        top: 9px;
        left: 50%;

        width: 20px;

        background-color: $color-tangaroa;
        transform: translateX(-50%) rotate(45deg);
      }
    }
  }
}

.header__menu {
  min-width: 50%;

  @include vp-767 {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 98;

    width: 285px;
    min-height: 568px;
    height: 100%;
    padding: 75px 0 30px 25px;
    overflow: auto;

    background-color: $color-alice-blue;

    transition: right $trans-default;

    &--closed {
      right: -100%;
      background-color: $color-tangaroa;
    }
  }
}

.header__nav {
  display: flex;
  min-height: 100%;
}

.header__nav-list {
  @include vp-1023 {
    justify-content: flex-end;
  }
}

.header__link {
  @include vp-767 {
    min-height: 40px;
  }
}
