.header {
  position: relative;

  display: flex;
  align-items: center;
  width: 100%;
  min-height: 108px;
  padding: 25px 0;

  color: $color-alice-blue;

  @include vp-1023 {
    min-height: 80px;
  }

  @include vp-767 {
    min-height: 62px;
    padding: 20px 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;

    width: 100%;
    height: 100%;

    background-color: $color-tangaroa;
  }

  &--no-js {
    .header__top-wrapper {
      @include vp-767 {
        display: none;
      }
    }

    .header__menu.is-close {
      position: relative;
      top: unset;
      right: unset;
      z-index: 1;
      display: flex;

      min-height: auto;

      background-color: $color-transparent;
    }

    .header__toggle {
      display: none;
    }

    .header__link {
      color: $color-alice-blue;
    }

    .logo--black {
      fill: $color-alice-blue;
    }
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  min-height: 100%;
}

.header__top-wrapper {
  display: flex;
  align-items: center;
  min-height: 100%;
  margin-right: auto;

  @include vp-1023 {
    margin-right: 70px;
  }

  @include vp-767 {
    justify-content: space-between;
    width: 100%;
    margin: 0;
  }

  span {
    display: inline-flex;
  }
}

.header__top-wrapper button {
  display: none;
  width: 24px;
  height: 21px;
  margin: 0;
  padding: 0;

  background-color: $color-transparent;

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      opacity: 0.5;
    }
  }

  @include vp-767 {
    position: absolute;
    top: 20px;
    right: 15px;
    z-index: 99;

    display: block;

    &::before {
      content: "";
      position: absolute;
      top: 5px;
      left: 50%;

      display: block;
      width: 24px;
      height: 1px;

      background-color: $color-alice-blue;
      box-shadow: 0 5px 0 0 $color-alice-blue;
      transform: translateX(-50%);

      transition: all $trans-default;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 5px;
      left: 50%;

      display: block;
      width: 24px;
      height: 1px;

      background-color: $color-alice-blue;
      transform: translateX(-50%);

      transition: all $trans-default;
    }

    &.is-close {
      position: fixed;

      width: 30px;
      height: 30px;
      top: 17px;
      right: 7px;

      &::before {
        top: 14px;
        left: 50%;

        width: 20px;

        background-color: $color-tangaroa;
        box-shadow: none;
        transform: translateX(-50%) rotate(-45deg);
      }

      &::after {
        top: 14px;
        left: 50%;

        width: 20px;

        background-color: $color-tangaroa;
        transform: translateX(-50%) rotate(45deg);
      }
    }
  }
}

.header__menu {
  min-width: 50%;

  @include vp-767 {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 98;

    display: flex;
    width: 285px;
    height: 100%;
    min-height: 568px;
    padding: 75px 0 30px 25px;
    overflow: auto;

    background-color: $color-alice-blue;

    animation: display 0.5s ease;

    &.is-close {
      display: none;
      animation: display 0.5s ease;
    }
  }
}

.header nav {
  display: flex;
  min-height: 100%;

  ul {
    justify-content: flex-end;

    @include vp-767 {
      justify-content: flex-start;
    }
  }

  a {
    @include vp-767 {
      min-height: 40px;
    }
  }
}

@keyframes display {
  0% {
    display: block;

    opacity: 0;
  }

  100% {
    display: block;

    opacity: 1;
  }
}
