.input {
  width: 100%;
  min-height: 43px;
  padding: 10px 16px;

  font-size: 14px;
  line-height: 21px;
  color: $color-tangaroa;

  border: none;

  &::placeholder {
    color: rgba($color-tangaroa, 0.7);
  }
}
