.logo {
  width: 70px;
  height: 38px;
  margin: auto 0;

  @include vp-1023 {
    width: 38px;
    height: 20px;
  }

  @include vp-767 {
    width: 42px;
    height: 22px;
  }

  &--white {
    fill: $color-alice-blue;

    &.is-hide {
      @include vp-767 {
        opacity: 0;
      }
    }
  }

  &--black {
    display: none;

    fill: $color-tangaroa;

    @include vp-767 {
      position: absolute;
      top: 20px;
      left: 15px;
      z-index: 99;

      display: block;
      width: 42px;
      height: 22px;
    }
  }
}
