.nav__list {
  padding: 0;
  margin: 0;
  display: flex;
  min-width: 100%;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style: none;

  @include vp-1023 {
    justify-content: flex-end;
  }

  @include vp-767 {
    flex-direction: column;
    justify-content: start;
  }
}

.nav__item {
  display: flex;
  margin: 0 0 0 33px;
  padding: 10px 0;

  @include vp-1023 {
    margin-left: 23px;
    padding: 6px 0;
  }

  @include vp-767 {
    padding: 0;
    margin: 0 0 10px 0;
    min-height: 40px;
  }
}

.nav__link {
  color: $color-alice-blue;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  font-weight: 500;
  line-height: 20px;

  @include vp-1023 {
    font-size: 14px;
    line-height: 17px;
  }

  @include vp-767 {
    font-size: 18px;
    line-height: 22px;
    color: $color-tangaroa;
    text-align: left;
    justify-content: flex-start;
  }
}
