.promo {
  position: relative;
  z-index: -1;

  min-height: 542px;

  color: $color-alice-blue;

  background-color: $color-royal-blue;

  @include vp-1023 {
    min-height: 558px;
  }

  @include vp-767 {
    min-height: 438px;
  }
}

.promo__bg {
  position: absolute;
  top: -108px;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 650px;

  background-color: $color-royal-blue;

  object-fit: cover;

  @include vp-1023 {
    top: -80px;

    height: 638px;
  }

  @include vp-767 {
    top: -62px;

    height: 500px;
  }
}

.promo__bg img {
  width: 100%;
  max-width: 1920px;
  height: 650px;
  margin: 0 auto;

  background-color: $color-royal-blue;

  object-fit: cover;

  @include vp-1023 {
    height: 638px;
  }

  @include vp-767 {
    height: 500px;
  }
}

.promo__container {
  z-index: 1;

  padding-bottom: 50px;
}

.promo__wrapper {
  width: 57%;
  margin: 0 0 0 95px;
  padding: 162px 0 50px;

  @include vp-1023 {
    width: 100%;
    margin: 0;
    padding-top: 188px;
  }

  @include vp-767 {
    padding-top: 116px;
  }
}

.promo__title {
  margin: 0 0 12px;
  padding: 0;

  font-weight: 700;
  font-size: 54px;
  line-height: 66px;

  @include vp-1023 {
    font-size: 50px;
    line-height: 61px;
  }

  @include vp-767 {
    margin: 0 0 9px;

    font-size: 36px;
    line-height: 45px;
  }
}

.promo__tagline {
  margin: 0 25% 20px 0;

  font-size: 20px;
  line-height: 24px;

  @include vp-1023 {
    font-size: 18px;
    line-height: 22px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 23px;
  }
}
