.title {
  margin: 0 auto;
  width: fit-content;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;

  @include vp-1023 {
    font-size: 26px;
    line-height: 39px;
  }

  @include vp-767 {
    font-size: 24px;
    line-height: 36px;
  }
}
